html{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background: rgb(83,11,124);
    background: linear-gradient(180deg, rgba(83,11,124,1) 0%, rgba(185,166,196,1) 53%, rgba(83,11,124,1) 100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}




/* __________________________General CSS ___________________________*/
#container{
    height: 100%;
    margin: 0 100px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(8,1fr);
    
}

#player{
    grid-column: 3/5;
    grid-row: 1;
    background: rgb(45,45,45);
    background: linear-gradient(180deg, rgba(45,45,45,1) 0%, rgba(45,45,45,0.6) 100%);
    margin: 10px;
}

#player>h1{
    margin:0;
    padding: 0 10%;
    background: rgb(205,2,2);
    background: linear-gradient(180deg, rgba(205,2,2,0.35057773109243695) 0%, rgba(205,2,2,1) 100%);

}

#player>div{
    font-size: 2.4em;
    font-weight: 800;color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#player>div>span{
    display: inline;
}

#categories{
    grid-column: 1/7;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
}

.categories-col{
    background: linear-gradient(180deg, rgba(45,45,45,0.7) 0%, rgba(45,45,45,0.7) 100%);
    text-align: center;
    color: #fff;
    margin: 15px 0;
    font-weight: 600;
    font-size: 1.4em ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.categories-col:nth-child(1),.categories-col:nth-child(5){
    background-color: rgb(238, 255, 0);
    border: 3px solid rgb(238, 255, 0);
}
.categories-col:nth-child(2){
    background-color: rgb(0, 255, 157);
    border: 3px solid rgb(0, 255, 157);
}
.categories-col:nth-child(3),.categories-col:nth-child(6){
    background-color: rgb(255, 0, 149);
    border: 3px solid rgb(255, 0, 149);
}
.categories-col:nth-child(4){
    background-color: rgb(0, 183, 255);
    border: 3px solid rgb(0, 183, 255);
}

#clue-area{
    grid-row: 3/8;
    grid-column: 1/7;
    cursor: pointer;

    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
}

#clueCol1,#clueCol2,#clueCol3,#clueCol4,#clueCol5,#clueCol5,#clueCol6{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-gap: 10px;
}

.clue{
    text-align: center;
    display: table;
    vertical-align: middle;
    background: rgb(45,45,45);
    background: linear-gradient(180deg, rgba(45,45,45,1) 0%, rgba(45,45,45,0.2) 100%);
    font-size: 2.5em;
    font-weight: 800;color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.915);
    position: relative;
    overflow: hidden;
    
}

.clue:hover{
    background: rgb(45,45,45);
    background: linear-gradient(180deg, rgba(45,45,45,0.1) 0%, rgba(45,45,45,0.9) 100%);
}

.selected{
    opacity: 0.07 !important; 
    background: rgb(45,45,45) !important;
}
/* __________________________General CSS ___________________________*/



/* __________________________Snake Animation ___________________________*/
.clue span:nth-child(1){
    top: 0;
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right,#e2e1a6,#dde5eb);
    animation: animate-top 16s linear infinite;
}

.clue span:nth-child(2){
    top: 0;
    left: 0%;
    position: absolute;
    height: 100%;
    width: 2px;
    background: linear-gradient(to bottom,#e2e1a6,#dde5eb);
    animation: animate-right 16s linear infinite;
    animation-delay: 8s;
}
.clue span:nth-child(3){
    top: 94%;
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    background: linear-gradient(to left,#e2e1a6,#dde5eb);
    animation: animate-bottom 16s linear infinite;
}
.clue span:nth-child(4){
    top: 0;
    left: 99%;
    position: absolute;
    height: 100%;
    width: 2px;
    background: linear-gradient(to top,#e2e1a6,#dde5eb);
    animation: animate-left 16s linear infinite;
    animation-delay: 8s;
}

@keyframes animate-top{
    0%{transform: translateX(100%);}
    100%{transform: translateX(-100%);}
}
@keyframes animate-right{
    0%{transform: translateY(-100%);}
    100%{transform: translateY(100%);}
}
@keyframes animate-bottom{
    0%{transform: translateX(-100%);}
    100%{transform: translateX(100%);}
}
@keyframes animate-left{
    0%{transform: translateY(100%);}
    100%{transform: translateY(-100%);}
}

/* __________________________Snake Animation ___________________________*/




/* ___________________________Modal Box__________________________________*/
.modal{
    display: none;
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
    background: rgb(10,28,162);
    background: linear-gradient(0deg, rgba(10,28,162,0.95) 0%, rgba(207,216,245,0.9472163865546218) 53%, rgba(10,64,177,0.94) 100%);
    margin: 5% auto;
    padding: 10px;
    width: 80%;
    height: 75%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
    0 7px 20px 0 rgba(0, 0, 0, 0.15);
    border: 2px solid white;
    border-radius: 10px;
    animation: modal-animate 1.2s ease-in-out;
    text-align: center;

    display: grid;
    grid-template-rows: repeat(5,1fr);
}

.close-button{
    color: violet;
    float: right;
    font-size: 60px;
}

.close-button:hover,.close-button:focus{
    color:#000;
    text-decoration: none;
    cursor: pointer;
}

#model-header{
    background: rgb(10,113,162);
    background: linear-gradient(0deg, rgba(10,113,162,1) 0%, rgba(207,235,245,0.9472163865546218) 53%);
    padding: 5px 0;
    margin-bottom: 15px;
    background: rgb(2,50,73);
background: linear-gradient(0deg, rgba(2,50,73,0.5) 0%, rgba(117,181,204,0.1472163865546218) 53%, rgba(12,146,194,0.1472163865546218) 99%);

grid-row: 1/3;
}

#model-header>h3,#model-header>h1{
    margin: 0;
    padding: 0;
    font-size: 1em;
}
#model-header>h1{
    text-align: justify;
    color: rgb(241, 241, 237);
    font-size: 1.5em;
    overflow: auto;
}

.modal-body{
    grid-row: 3/6;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-gap: 15px;
}

.clue-answers{
    padding: 10px;
    text-align: justify;
    background: rgb(10,113,162);
    background: linear-gradient(0deg, rgba(10,113,162,1) 0%, rgba(207,235,245,0.9472163865546218) 53%);
    border: 2px solid white;
    border-radius: 30px;
    font-size: 1.3em;
    overflow: auto;

    
}
.clue-answers:hover{
    background: rgb(10,113,162);
    background: linear-gradient(0deg, rgb(8, 99, 141) 0%, rgba(151, 209, 230, 0.947) 53%);
    cursor: pointer;
}

@keyframes modal-animate{
    from{opacity: 0;}
    to{opacity: 1;}
}
/* ___________________________Modal Box__________________________________*